// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table {
    width: 100%;
}

.newroom {
    margin-top: 30px;
}

a {
    color: #0071c1;
    text-decoration: none;
}

a:hover {
    color: #0a58ca;
}

thead {
    border-bottom: 1px solid lightgray;
}
