<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        アカウント
      </h1>
    </div>
  </div>
</section>

<section class="section">
    <div class="column is-2">
        <article class="panel is-link">
          <h2 class="panel-heading">
            設定
          </h2>
          <div class="panel-block">
              <%= link_to "プロフィール", "/users/:id", class: "panel-block" %>
          </div>
            <p class="control">
              アカウント
            </p>
        </article>
      </div>

    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8">
          <div class="columns is-centered">
            <div class="column is-8">
              <table class="table is-fullwidth">
                <tr>
                  <td>
                    メールアドレス
                  </td>
                  <td class="is-size-4">
                    <%= @user.email %>
                  </td>
                </tr>
                <tr>
                  <td>
                    パスワード
                  </td>
                  <td class="is-size-4">
                    ******
                  </td>
                </tr>
                  <td>
                    <%= link_to "編集","users/account/edit", class: "button is-primary" %>
                  </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      